body{
    font-family: 'Roboto', sans-serif;
}

.landing{
    background-image: url(../images/h_img.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:17%; 
    font-family: 'Roboto', sans-serif;

}

.about{
    text-align: center;
}

.services {
    background-image: url(../images/s_image.jpg);
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 15px;
}

#what-we-do{
    text-align: center;
}

#portfolio-items{
    justify-content: space-between;
}

.form-group h2{
    text-align: center;
}

.row .column{
    justify-content: space-between;
}

.form-group{
    background-image: url(../images/c_image.jpg);
    opacity: 0.8;
}

footer .card-footer{
    text-align: center;
    margin-left: 40px;
}

footer .footer-info{
    text-align: center;
    font-size: 15px;
    font-weight: 900;
}

.container h2{
    text-align: center;
}


#design p{
    display: none;
}

#design h2{
    display: none;
}

#development p{
    display: none;
}

#development h2{
    display: none;
}

#product p{
    display: none;
}

#product h2{
    display: none;
}

input.transparent-input{
    background-color:transparent !important;
    color: white;
 }

textarea.transparent-input{
    background-color:transparent !important;
    color: white;
 }

#contact-form.form-control::-webkit-input-placeholder {
    color: white;
  }

.media {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #c7c9c8;
    margin-bottom: 30px;
}

.media a {
    overflow: hidden;
}

.media-img {
    overflow: hidden;
    padding: 0;
    position: relative;
}

.media-img .img-overlay {
    background: none repeat scroll 0 0 rgba(248, 246, 246, 0.4);
    color: black;
    height: 100%;
    opacity: 0;
    padding-top: 50%;
    position: absolute;
    text-align: center;
    transition: opacity 0.3s ease-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 4;
}

.media:hover .img-overlay a, .media .img-overlay:hover a {
    display: inline-block;
}

.media:hover .img-overlay, .media .media-img:hover .img-overlay {
    opacity: 1;
    transition: opacity 0.3s ease-out 0s;
    visibility: visible;
}

.media div.media-img img {
    /* height: auto; */
    transform: scale(1, 1);
    transition-duration: 2000ms;
    transition-timing-function: ease-out;
    width: 100%;
}

